*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --diary: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*------------HEADER--------------*/

.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-span {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-list-items {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.header-list-items:hover,
.header-list-items:focus {
  color: var(--ocean);
}

.address {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list-items {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.address-list-items:hover,
.address-list-items:focus {
  color: var(--ocean);
}

/*---------------HERO---------------------*/

.hero-section {
  background-color: var(--navy-blue);
}

.hero-cont {
}

.hero-title {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 48px;
}

.hero-button {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/*---------------ABOUT-------------------*/

.about-section {
}

.about-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.about-list-items {
}

.about-titles {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------TEAM--------------------*/

.team-section {
  background-color: var(--cloud);
}

.team-title {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.team-list-items {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  padding-bottom: 32px;
}

.team-names {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 32px;
}

/*-------------PORTFOLIO-----------------*/

.portfolio-section {
}

.portfolio-title {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list-items {
  border: 1px solid var(--cornflower);
  width: calc((100%-48px) / 3);
}

.portfolio-img {
  padding-bottom: 32px;
}

.portfolio-description {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  align-content: center;
  padding-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-content: center;
  padding-bottom: 32px;
}

/*-----------------FOOTER---------------------*/

.footer {
  background-color: var(--navy-blue);
}

.footer-cont {
}

.footer-logo {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: flex;
  align-content: center;
  padding-bottom: 17.5px;
}

.footer-logo-span {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  display: flex;
  align-content: center;
}
